<template lang="pug">
#ArticlesLine 
  .artc-window
    .arrow-cover-r
      i.fas.fa-chevron-right(
      @click='slide(1, ss.articles.length, ".artc-slider", ".artc-item-outside", 0.5, 3)')
    .arrow-cover-l
      i.fas.fa-chevron-left(
      @click='slide(-1, ss.articles.length, ".artc-slider", ".artc-item-outside", 0.5, 3 )')
    .artc-slider
      .artc-item-outside( v-for=" card in ss.articles" )
        router-link.a.artc-item.shadowAG(:to="{name: card.router}")
          p.p-info-text {{card.topic}}
          h3 {{card.title}}

</template>

<script lang="ts">
// import {fire, fireAuth} from '@/firebase/config'
import { useStore } from "vuex";
import { onMounted, ref, provide } from "vue";
import { a, n } from "@/composables/types";
import useCss from "@/composables/useCss";
// import { useRouter, useRoute } from "vue-router";

export default {
  // components: [],
  setup() {
    const ss = useStore().state;
    // const sg = useStore().getters;
    ///////////////////////

    ///////////css////////////
    const { slide, cqueA, cLenEqual } = useCss();
    //......................................
    // const slide = x => {};
    //
    // let cards = ref();
    onMounted(() => {
      const slider = document.querySelector<HTMLElement>('.artc-slider')
      const allitems = document.querySelectorAll<HTMLElement>('.artc-item-outside')

      if(slider && allitems){
        slider.style.transform = `translateX(30px)`;
        slider.style.width = 
          `calc(   (100% - (30px * 2)) * ${ss.articles.length/3}  )`
        allitems.forEach((item)=>{
          item.style.width = `${100 / (ss.articles.length)}%` //100 / 10 10%
        })
      }


      // cards = ref(cqueA(".artc-item-outside"));
      // console.log(cards.value.length);
      // return { cards };
    });
    ////////////////////////
    return {
      ss,
      slide
    };
  }
};
</script>

<style lang="scss">
@import '../assets/uniTheme.scss';
#ArticlesLine {
  .artc-window {
    // display: flex;
    // justify-content: center;
    width: 100%;
    // border: 1px solid #000;
    overflow: hidden;
    position: relative;
    padding: 2rem 0;
  }


  .arrow-cover-r, .arrow-cover-l{
    position: absolute;
    top: 0;
    height: 100%;
    width: 30px;
    // background: red;
    // background: linear-gradient(90deg, rgba(248,248,248,1) 0%, rgba(248,248,248,0.5) 60%, rgba(248,248,248,0) 100%);

    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
  }
  .arrow-cover-r{
    right: 0;
    background: linear-gradient(90deg, rgba(248,248,248,0) 0%, rgba(248,248,248,0.5) 40%, rgba(248,248,248,1) 100%);
  }
  .arrow-cover-l{
    left: 0;
    background: linear-gradient(90deg, rgba(248,248,248,1) 0%, rgba(248,248,248,0.5) 60%, rgba(248,248,248,0) 100%);
  }
  .fas{
    font-size: 30px;
    z-index: 3;
  }
  // .fa-chevron-right,
  // .fa-chevron-left {
  //   position: absolute;
  //   font-size: 30px;
  //   top: calc(50% - 15px);
  //   z-index: 2;
  // }
  // .fa-chevron-right {
  //   right: 0;
  // }
  // .fa-chevron-left {
  //   left: 0;
  // }
  .artc-slider {
    // width: 300%;
    display: flex;
    flex-flow: row nowrap;
  }
  .artc-item-outside {
    // width: calc(100% / 3);
    padding: 0.5rem 0.5%;
    display: flex;
    align-items: center;
  }
  .artc-item {
    width: 100%;
    display: block;
    // flex-flow: column nowrap;
    background: white;
    // border: 1px solid #000;
    // border-radius: 10px;

    padding: 1rem 1rem;
    border-radius: 6px;
    border-bottom: 2px solid #00c090;
    text-align: left;
    p {
      margin-bottom: 0;
    }
    h3,
    h4 {
      margin-bottom: 0.1rem;
      font-weight: 900;
      font-size: 1.3em;
    }


    &:hover{
      .p-info-text, h3{ transform: scale(1.05); transition: .5s; text-decoration: none;}
    }
  }
}
</style>
