<template lang="pug">
#FullPicture
  .tabBar
    span.tab(@click='openTab(1)' ) Language
    span.tab(@click='openTab(2)') Learn
    span.tab(@click='openTab(3)' ) Life
  .tabBox.shadowAG(v-if="ss.tab === 1")
    h3 -- coming soon --
    
    //- nnnnnn
    .devspan.dev
      p Language (japanese and english) - everything that directly influences your ability to use the language. Which means specific, grammar, vocab, phonological information for learning as well as content sources.
      h2 Phonetics
      h2 Words
      h2 Grammar
      h2 Context
      h2 Content
      p For beginners the content might be in apps such as duolingo, lingodeer and so on. I recomend you try LingQ (12EUR/m) ultil you get decent at basic text.
      p Reading is harmful for your accent. This might seem absurd as it is one of the best ways to improve your language ability. However, if you're reading without any audio, you will automatically subvocalise most of the words you see. And regardless of how good your pronunciation is, you'll always be guessing as to how a particular word might be pronounced. Now, after a certain point, the harm that comes from that is negligent compared to the gains of reading. But any beginners in a language should be aware, that they need to catch up their listening skills to their reading skills or else they will suffer from crystalised bad pronunciation habits. The best strategy, I think might be to read intensely for a month or two and then catch up with listening. Especially in the beginning where you're making huge progress. 
      h3 Where to read?
      p Create an Amazon account and download the kindle app on your ipad/iphone/android/tablet. It doesn't matter if you don't have a tablet, reading is very similar on a phone. All of the features of the app will still work. 



  .tabBox.shadowAG(v-if="ss.tab === 2")
    ol.mainlist
      li Learning the Complex
      li Memorisation
      li Acquisition
      li Language acquisition science
    ol.maintext
      li Learn about diffuse thinking, chunking, interlieving. What are the different levels of comprehension, what are common biases that leave behind poorly developed schemas. Well thought out studying strategies prevent procrastination and create effortless habits. 
      li Our mind was designed to remember locations and stories not random words. Also out mind does not know which information is important and which is not. Thus we need to aid it by using mnemonic techniques and spaced repetition. 
      li Acquisition is the use of procedural memory in contrast to explicit memory. Explicit memory deals with things that we can conciously describe, imagine. Procedural memory is route of automatic actions that the brain takes once the cue is triggered. 
    



  .tabBox.shadowAG(v-if="ss.tab === 3")
    h3 -- I'm writing --
    .devspan.dev
      p  Life - activities that will not directly make you a better learner, but will improve you productivity such that you can learn better, and for longer and more focused...
      h2 The mind
      h2 Philosophy
      ul
        li Tolerating ambiguity
        li Having fun / enjoying the process
        li sacrifice
      h2 Motivation / willpower
      p make sure you meditate for atleast 15min per day. You need about 11h of meditation to feel a difference, so at 15min thats about a month. In my personal experience anything below 30 min/day is of not much significance.
      p I you become really good at meditating then you will find that you can make yourself do and focus on almost anyting for as long as you want. Though that's hardly easy to achive.
      ul 
        li long term goals
      h2 Habits
      | learning has to be fun. Otherwise, you won't be as focused during it, if its fun that means it means more to you, it will make more connections in your brain. Also a possitive activity will generate dopamine which will create a craving for the next time, thus creating habits will be that much easier. 

      
      h2 Body 
      p The way you feel of course influences how you're going to perform thus anything related to your emotional and physical energy is of much importance. 
      h3 How to imporve your health?
      p Eat healthy, sleep properly, exercise
      p For exercise there is, high intensity cardio, muscle training, stretching, vascular and oxygen fitness (whm)
      p For sleep, make sure you're going at the right time of the day based on your type, sleep consistently, track your wake/sleep hours.
      p For your diet make sure you avoid sugary and high carb foods, avoid unhelthy fats and unhealthy meats, don't eat all the time, do fasting, make sure there's variety, and healthy bacteria. A lot of things can cause mild but chronic inflamation that unnoticed can impact your energy your entire life without you knowing. Find your alergens and irritators. 
</template>

<script lang="ts">
// import {fire, fireAuth} from '@/firebase/config'
import { useStore } from "vuex";
import { onMounted, ref, provide, onUpdated } from "vue";
import { a, n } from "@/composables/types";
import useCss from "@/composables/useCss";
// import { useRouter, useRoute } from "vue-router";

export default {
  // components: [],
  setup() {
    const ss = useStore().state;
    // const sg = useStore().getters;
    ///////////////////////

    ///////////css////////////
    // css import
    const { cqueA, cLenEqual, devAdd } = useCss();

    const openTab = (x: n) => {
      ss.tab = x;
      addEventListener("click", e => {
        const tabs = document.querySelectorAll(".tab");
        tabs.forEach(tab => {
          tab.classList.remove("activeTab");
        });
        (e.target as HTMLTextAreaElement).classList.toggle("activeTab");
      });
    };

    onMounted(() => {
      devAdd();
      const tabs = cqueA(".tab");
      // variable shortcuts

      // functions
      cLenEqual(tabs, `${100 / tabs.length}%`, "width");
      // console.log(tabs[0]);
    });
    onUpdated(() => {
      devAdd();
    });
    ////////////////////////
    return {
      ss,
      openTab
    };
  }
};
</script>

<style lang="scss">
@import '../assets/uniTheme.scss';

#FullPicture {
  //
  img{
    width: 100%;
  }
  .tabBar {
    display: flex;
    justify-content: space-evenly;
		margin-bottom: 1rem;
		border: 1px solid rgb(161, 161, 161);
		padding: .3rem;
    // border: 1px solid black;
  }
  .tab {
    background: #f9f9f9;
    border-radius: 3px;
    text-align: center;
    // border: 1px solid rgb(131, 131, 131);
    margin: 0px 0.2rem;
		font-weight: bold;
    &:hover {
      background: #fc6b52;
      // color: white;
      transform: scale(1.05);
      transition: 0.2s;
    }
  }
  .activeTab {
    background: #fc6b52;
  }
  .tabBox {
    // border-bottom: 1px solid black;
    // border-left: 1px solid black;
    // border-right: 1px solid black;
    // border-radius: 0px 0px 10px 10px;
    padding: 0.5rem;
    text-align: left;
  }

  .mainlist {
    font-family: roboto;
    padding-left: 2rem;
    font-size: 1.3em;
    font-weight: 900;
  }
  .maintext {
    // font-family: roboto;
    padding-left: 1rem;
  }

  .tabBox{

		h2.title{font-size: 28px; margin-bottom: 2rem;}
		// border: 1px solid black;
		
		// box-shadow: $shadowDark;
		padding: 1rem;
		margin-bottom: 2rem;
		
		.bottomSide{
			background: rgb(252, 107, 82);

			margin: 5rem -1rem -1rem -1rem;
			padding: 1rem;
		}
	}
		
}
</style>
