//////////////////////////////////////////////////
// testing box model
* {
  // outline: dotted thin black;
}

// hidden parts
.dev.devNone {
  display: none !important;
}
////////////////////////////////////////////////////

// basic bootstrap
@import "./bootscss/bootstrap.scss";

// General startig css
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}
//////////////////////////////////////////////////

//
//
//
//
//
//
//
//
//
//

//Extend css from bootstrap
.navbar {
  @extend .container;
}

//
//
//
//
//
//

// Colors
////////////////////////
$dark: #12181b;

$caribean-1: rgba(0, 217, 163, 1);
$caribean: rgba(0, 217, 163, 1);
$caribean1: rgba(0, 217, 163, 1);
$caribean2: rgba(0, 217, 163, 1);
// $border-dark: rgba($base-color, 0.88);

//
//
//
//

// 
#Nav,
footer {
  background: $caribean;
  background: linear-gradient(
    90deg,
    $caribean-1 0%,
    $caribean1 98%,
    $caribean2 100%,
  );
}
nav {
  background: rgba(0, 0, 0, 0.1);
}

//
//
//

// fonts
@import url("https://fonts.googleapis.com/css?family=Fira+Sans:400,500,600,700,800");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap");
h1 {
  margin-bottom: 2rem;
}

@media (min-width: 678px){
  h1{
    font-size: 70px;
  }
}
h1,
h2 {
  text-align: center;
  font-weight: bold;
}
h4 {
  font-weight: 300;
  font-size: 22px;
}
.h5 {
  // font-weight: bold;

  // font-size: 1.5em;

  // margin: 2rem 0rem 1rem 0rem;
  // text-shadow: -1px 2px 3px rgba(225, 48, 0, 0.2);
}

body {
  // font-family: "Roboto", sans-serif;
}

body.lightTheme {
  // color: #12181b;
  color: #12181b;
  // color: #303030;
  background: #f8f8f8;
  h1,
  h2 {
    text-align: center;
    // margin-top: 10rem;
  }

  .h5 {
    // font-family: "Roboto", sans-serif;
    // font-weight: bold;
    // font-size: 1.5em;
    // margin: 2rem 0rem 1rem 0rem;
    // text-shadow: -1px 2px 3px rgba(225, 48, 0, 0.2);
  }
}

body.darkTheme {
  h1,
  h2,
  i {
    color: #fff;
  }
  color: #b2becd;
  // color: #303030;
  background: #12181b;
}

section {
  padding-top: 50px;
  padding-bottom: 50px;
  min-height: 100px;
}

form {
  padding: 2rem;
  text-align: left;
  background: #f9f9f9;
  border-radius: 10px;
}

//elements styles
/////////////////

label,
input {
  display: block;
}
input {
  @extend .form-control;
  margin-bottom: 0.5rem;
}
label {
  font-size: 0.8em;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 0;
}

button {
  @extend .btn, .btn-primary;
  background: rgb(204, 204, 204);
  color: black;
  border: 1px solid rgb(160, 160, 160);
  padding: 0.2rem 1rem;
  line-height: normal;
}

.textbtn {
  text-decoration: underline;
  cursor: pointer;
  &:hover {
    color: crimson;
    transition: 0.5s;
  }
}
a {
  color: inherit;
  // text-decoration: underline;
  cursor: pointer;
  &:hover {
    text-decoration: underline;
    color: inherit;
  }
}

ul {
  margin-left: 1rem;
}

.blackb {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding-top: 5vh;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

// .frameBox{width: 100%; padding-top: 100%; }
iframe {
  min-width: 100%;
  height: auto;
}

//text
.exBtn {
  position: relative;
  border-bottom: 2px solid rgb(255, 72, 0);
  cursor: pointer;
  &:hover {
    border-bottom: 3px solid rgb(255, 8, 0);
  }
}
.exText {
  max-height: 0px;
  overflow: hidden;
  display: block;
  max-width: 500px;
  width: 300px;

  transition: 0.5s;

  margin: 0;
  border-radius: 5px;
  background: rgb(226, 226, 226);
  box-shadow: 0 1.8px 3.1px rgba(0, 0, 0, 0.07),
    0 3.9px 7.4px rgba(0, 0, 0, 0.05), 0 6.4px 14px rgba(0, 0, 0, 0.042),
    0 9.4px 25px rgba(0, 0, 0, 0.035), 0 12.7px 46.8px rgba(0, 0, 0, 0.028),
    0 16px 112px rgba(0, 0, 0, 0.02);

  position: absolute;
  top: 1.5rem;
}
.exPara {
  max-height: 0px;
  overflow: hidden;
  display: block;
  // margin: 0;

  // transition: 1s;
}

.exOn {
  // transition: 1s;
}
.exStyleSpan {
  max-height: 1000px;
  padding: 0.5rem;
  // border: 1px solid rgb(248, 79, 0);
  border: 1px solid rgb(44, 43, 48);
  margin-bottom: 1rem;
}
.exStylePara {
  max-height: 1000px;
  padding: 0.5rem 0.5rem 0.5rem 0.3rem;
  border-bottom: 2px solid rgb(248, 79, 0);
  border-right: 2px solid rgb(248, 79, 0);
  border-radius: 5px;
  margin-top: 1rem;
  margin-bottom: 1rem;
  // background: rgb(230, 214, 208);
  box-shadow: 0 1.8px 3.1px rgba(0, 0, 0, 0.07),
    0 3.9px 7.4px rgba(0, 0, 0, 0.05), 0 6.4px 14px rgba(0, 0, 0, 0.042),
    0 9.4px 25px rgba(0, 0, 0, 0.035), 0 12.7px 46.8px rgba(0, 0, 0, 0.028),
    0 16px 112px rgba(0, 0, 0, 0.02);
  // transition: 1s;
}

.a {
  color: blue;
  // text-emphasis: initial;
  text-decoration: none;
  // font-weight: 600;
}
.quote {
  display: block;
  font-size: 1.2em;
  font-style: italic;
  &::after {
    content: '"';
  }
  &::before {
    content: '"';
  }
}

// active
