// testing box model
* {
  // outline: dotted thin black;
}

// testing hidden parts
.dev.devNone {
  // display: none !important;
}

///////////////////////////////
//
//
//
//
//
//
//
//
//
//
//


@import "./uniInit.scss";
@import "./uniFonts.scss";
@import "./uniTheme.scss";

//
//
//
//
//
//
//
//
//
//
//
//
//

//Extend css from bootstrap
.navbar {
  @extend .container;
}

// general css

section {
  padding-top: 50px;
  padding-bottom: 50px;
  min-height: 100px;
}

form {
  padding: 2rem;
  text-align: left;
  background: #f9f9f9;
  border-radius: 10px;
}

.read-size{
  max-width: 700px;
}






//elements styles
/////////////////
/////////////////

label,
input {
  display: block;
}
input {
  @extend .form-control;
  margin-bottom: 0.5rem;
}
label {
  font-size: 0.8em;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 0;
}

button {
  @extend .btn, .btn-primary;
  background: rgb(204, 204, 204);
  color: black;
  border: 1px solid rgb(160, 160, 160);
  padding: 0.2rem 1rem;
  line-height: normal;
}

.textbtn {
  text-decoration: underline;
  cursor: pointer;
  &:hover {
    color: crimson;
    transition: 0.5s;
  }
}
a {
  color: inherit;
  // text-decoration: underline;
  cursor: pointer;
  &:hover {
    // text-decoration: underline;
    color: inherit;
  }
}

ul {
  margin-left: 1rem;
}

.blackb {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding-top: 5vh;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

// .frameBox{width: 100%; padding-top: 100%; }
iframe {
  min-width: 100%;
  height: auto;
}

//text
.exBtn {
  position: relative;
  border-bottom: 2px solid rgb(255, 72, 0);
  cursor: pointer;
  &:hover {
    border-bottom: 3px solid rgb(255, 8, 0);
  }
}
.exText {
  max-height: 0px;
  overflow: hidden;
  display: block;
  max-width: 500px;
  width: 300px;

  transition: 0.5s;

  margin: 0;
  border-radius: 5px;
  background: rgb(226, 226, 226);
  box-shadow: 0 1.8px 3.1px rgba(0, 0, 0, 0.07),
    0 3.9px 7.4px rgba(0, 0, 0, 0.05), 0 6.4px 14px rgba(0, 0, 0, 0.042),
    0 9.4px 25px rgba(0, 0, 0, 0.035), 0 12.7px 46.8px rgba(0, 0, 0, 0.028),
    0 16px 112px rgba(0, 0, 0, 0.02);

  position: absolute;
  top: 1.5rem;
}
.exPara {
  max-height: 0px;
  overflow: hidden;
  display: block;
  // margin: 0;

  // transition: 1s;
}

.exOn {
  // transition: 1s;
}
.exStyleSpan {
  max-height: 1000px;
  padding: 0.5rem;
  // border: 1px solid rgb(248, 79, 0);
  border: 1px solid rgb(44, 43, 48);
  margin-bottom: 1rem;
}
.exStylePara {
  max-height: 1000px;
  padding: 0.5rem 0.5rem 0.5rem 0.3rem;
  border-bottom: 2px solid rgb(248, 79, 0);
  border-right: 2px solid rgb(248, 79, 0);
  border-radius: 5px;
  margin-top: 1rem;
  margin-bottom: 1rem;
  // background: rgb(230, 214, 208);
  box-shadow: 0 1.8px 3.1px rgba(0, 0, 0, 0.07),
    0 3.9px 7.4px rgba(0, 0, 0, 0.05), 0 6.4px 14px rgba(0, 0, 0, 0.042),
    0 9.4px 25px rgba(0, 0, 0, 0.035), 0 12.7px 46.8px rgba(0, 0, 0, 0.028),
    0 16px 112px rgba(0, 0, 0, 0.02);
  // transition: 1s;
}

.a {
  color: blue;
  // text-emphasis: initial;
  text-decoration: none;
  // font-weight: 600;
}
.quote {
  display: block;
  font-size: 1.2em;
  font-style: italic;
  &::after {
    content: '"';
  }
  &::before {
    content: '"';
  }
}

