/////////////////////////////////////////////////
// basic bootstrap
@import "./bootscss/bootstrap.scss";

// General startig css
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}
//////////////////////////////////////////////////