// Colors
////////////////////////
$dark: #12181b;
$grey: #303030;
$light: #f8f8f8;
$light-f: #fff;
$bluegray: #b2becd;
// hahaha check this out

$caribean-1: rgba(0, 217, 163, 1);
$caribean: rgba(0, 217, 163, 1);
$caribean1: rgba(0,139,104,1);
$caribean2: rgba(0,110,82,1);
// $border-dark: rgba($base-color, 0.88);

$caribGrad: linear-gradient(
  90deg,
  $caribean-1 0%,
  $caribean1 98%,
  $caribean2 100%,
);

$shadowGrey: rgba(0,0,0,0.2) 0px 10px 20px 0px;
$shadowGlow: rgba(0, 217, 163, .2) 0px 10px 20px 0px;

//